/* 
---------------------------------------------
font & reset css
--------------------------------------------- 
*/

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

$font: "Noto Sans KR", sans-serif;

$light: 300;
$normal: 400;
$medium: 500;
$semi: 600;
$bold: 700;

// General Colors
$primaryColor: #3266c6;
$secondaryColor: #3759c1;

// Gradient Colors
$gradientDark: #3266c6;
$gradientLight: #00b1e2;

//Heading Color
$headingDark: #3b566e;
$headingLight: #ffffff;

// Text Colors
$textDark: #6f8ba4;
$textLight: #dedede;
